._4cod{background:#fff;-webkit-border-radius:8px;border-radius:8px;height:16px;opacity:.7;width:16px}._4cod:hover{opacity:.56}._4cou:hover{opacity:.8}

#bootloader_EC2dP{height:42px;}.bootloader_EC2dP{display:block!important;}